<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>About IEEE</h4>
                    <ul>
                        <p style="color: #ded6d6">
                            IEEE FCIH SB is one of IEEE’s Student Branches, It is located
                            at Faculty of Computers and Information, Helwan University,
                            Egypt Section .
                        </p>
                        <li>
                            <span class="arrow-right" style="color: #0072ae"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i></span><a asp-controller="home" asp-action="index">Learn more
                                about
                                IEEE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Committees</h4>
                    <ul>
                        <li><a href="#">Multi Media</a></li>
                        <li><a href="#">Fundraising</a></li>
                        <li><a href="#">Information Technology </a></li>
                        <li><a href="#">Social media</a></li>
                        <li><a href="#">Logistics</a></li>
                        <li><a href="#">Public Relations</a></li>
                        <li><a href="#">Project management</a></li>
                        <li><a href="#">Human Resources</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Newsletter</h4>
                    <p style="color: #ded6d6">Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '"
                                    required="" type="email" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="info"></div>
                            </div>
                        </form>
                    </div>
                    <div class="footer-social">
                        <ul class="list-unstyled list-inline" style="text-transform: uppercase; letter-spacing: 15px">
                            <i onclick="window.open('https://www.facebook.com/IEEE.FCIH/','_blank')"
                                class="fab fa-facebook fa-2x" aria-hidden="true" style="color: #ffffff"></i>
                            <i onclick="window.open('http://instagram.com/ieeefcihsb/','_blank')"
                                class="fab fa-instagram fa-2x" aria-hidden="true" style="color: #ffffff"></i>
                            <i onclick="window.open('https://twitter.com/IEEE_FCIHSB/','_blank')"
                                class="fab fa-twitter fa-2x" aria-hidden="true" style="color: #ffffff"></i>
                            <i onclick="window.open('https://www.youtube.com/user/IEEEFCIHSB ','_blank')"
                                class="fab fa-youtube fa-2x" aria-hidden="true" style="color: #ffffff"></i>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center justify-content-between">
            <p style="color: #ded6d6" class="footer-text m-0 col-lg-6 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright Portofolio &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                -- All rights reserved
                @* <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> *@
            </p>
        </div>
    </div>
</footer>
<!-- End footer Area -->