<!-- #header -->
    <header id="header" id="home">
      <div class="header-top">
        <div class="container">
          <div class="row">
                        <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
              <a href="tel:+01282692682"
                ><span class="lnr lnr-phone-handset"></span>
                <span class="text">+01282692682</span></a
              >
              <a
                ><span class="lnr lnr-envelope light"></span>
                <span class="text light">Cross Developers</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a asp-action="index" asp-controller="home"
              ><img src="~/img/logoCross.png" width="150px" alt="" title=""
            /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a asp-action="index" asp-controller="home">Home</a></li>
              <li><a asp-action="index" asp-controller="projects">Portfolio</a></li>
              <li><a asp-action="index" asp-controller="services">Services</a></li>
              <li><a asp-action="developers" asp-controller="home">Developers</a></li>
              <li><a asp-action="index" asp-controller="contact">Contact</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
      </div>
    </header>