<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/IEEE.FCIH" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://instagram.com/ieeefcihsb " target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/IEEE_FCIHSB" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/IEEEFCIHSB" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                    <a href="tel:+0114 655 5025"><span class="lnr lnr-phone-handset"></span>
                        <span class="text">+0114 655 5025</span></a>
                    <a href="https://www.facebook.com/IEEE.FCIH/" target="_blank"><span class="lnr lnr-envelope"></span>
                        <span class="text">IEEE</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a asp-action="index" asp-controller="home"><img src="~/img/logo2.png" width="250px" alt=""
                        title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    <li><a asp-controller="projects" asp-action="index">Projects</a></li>
                    <li><a asp-controller="services" asp-action="index">Services</a></li>
                    <li><a asp-controller="home" asp-action="gallery">Gallery</a></li>
                    <li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a asp-controller="home" asp-action="blog">Blog Home</a></li>
                            <li><a asp-action="blogsingle" asp-controller="home">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- #header -->