   <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" id="pagesItemsList">
    <li class="page-item" id="previousPage">
      <a class="page-link clickable" style="color:#007bff;"><</a>
    </li>
    <li class="page-item" id="nextPage">
      <a class="page-link clickable" style="color:#007bff;">></a>
    </li>
    <li class="page-item" style="display:none;" id="currentPage">
        @ViewData[PaginationCurrentPage]
    </li>
    <li class="page-item" style="display:none;" id="displayCount">
        @ViewData[PaginationDisplayCount]
    </li>
    <li class="page-item" style="display:none;" id="maxPageCount">
        @ViewData[PaginationMaxPageCount]
    </li>
  </ul>
</nav>
<script src="~/js/pagination.js"></script>