@{
    Layout = "_DashboardLayout";
    ViewData[PaginationCurrentPage] = Model.PaginationModel.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.PaginationModel.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.PaginationModel.DisplayCount;
}
@model ServicesDashboardVM
<!-- Start events-list Area -->
<section class="events-list-area section-gap event-page-lists" style="padding: 60px 0;">
    <div class="container">
        <i class="btn btn-primary mr-2 clickable mb-10" data-target="#createServiceModal" data-toggle="modal">+ Create New Service</i>
                <div class="row m-4">
            @if(Model.PaginationModel.Collection != default(ICollection<Service>))
              {
                foreach(var service in Model.PaginationModel.Collection)
                {
                          <div class="col-lg-3 col-md-6 single-blog">
                              <div class="thumb">
                                <img class="img-fluid" src="~/@service.ServiceImage" alt="service image" />
                              </div>
                              <h5 style="margin-top:8px;" class="light
                              ">@service.ServiceName</h5>
                              <a
                                asp-action="servicedetails"
                                asp-controller="dashboard"
                                asp-route-id="@service.Id"
                                target="_blank"
                                class="
                                  details-btn
                                  d-flex
                                  justify-content-center
                                  align-items-center
                                "
                                ><span class="details">Details</span
                                ><span class="lnr lnr-arrow-right"></span
                              ></a>
                    </div>
                }
              }
        </div>
    </div>

    <!-- Modal HTML Markup -->
<div id="createServiceModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Create Service</h4>
      </div>
      <div asp-validation-summary="All"></div> 
        @if(TempData[ResultMessageKey] != null)
        {
          ResultMsgViewModel resultVM = TempData.GetResultMessage();
          <div class="modal-header">
          <div class="@resultVM.CssClass">@resultVM.Message</div>
          </div>
        }
      <div class="modal-body">
        <form role="form" id="createServiceForm" asp-action="Create" asp-controller="Services" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label>Service Name</label>
          <input type="text" class="form-control" asp-for="Name">
          <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea asp-for="Description" class="form-control"></textarea>
          <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept ="image/*" asp-for="ServiceImage">
          <span class="text-danger" asp-validation-for="ServiceImage"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@{
  await Html.RenderPartialAsync("_ServiceCrudPartial");
  await Html.RenderPartialAsync("_PaginationPartial");
  await Html.RenderPartialAsync("_DeleteBtnPartial");
}
</section>
<!-- End events-list Area -->