@{
  Layout = "_DashboardLayout";
}
@model ChangePasswordViewModel
<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Change Password</h4>
      </div>
      <div class="modal-body">
        <form role="form" asp-action="PasswordChange" asp-controller="User" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="All"></div> 
        @if(TempData[ResultMessageKey] != null)
        {
          ResultMsgViewModel resultVM = TempData.GetResultMessage();
          <div class="modal-header">
          <div class="@resultVM.CssClass">@resultVM.Message</div>
          </div>
        }
          <div class="form-group">
            <label class="control-label">Old Password</label>
            <div>
              <input type="password" class="form-control input-lg" asp-for="OldPassword" />
              <span class="alert-danger" asp-validation-for="OldPassword"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">New Password</label>
            <div>
              <input type="password" class="form-control input-lg" asp-for="NewPassword" />
              <span class="alert-danger" asp-validation-for="NewPassword"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <div>
              <input type="password" class="form-control input-lg" asp-for="ConfirmPassword" />
              <span class="alert-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
          </div>
          <button type="submit" class="btn-primary btn-block btn-rounded">
            Change Password
          </button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->