@{
    ViewData[TitleKey] = "Members";
    ViewData[BannerTitleKey] = "Members";
    ViewData[BannerNavTitleKey] = ViewData["BannerTitle"];
    ViewData[BannerNavActionKey] = "members";
    ViewData[BannerNavControllerKey] = "home";
    ViewData[PaginationCurrentPage] = Model.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.DisplayCount;
}
@model PaginationViewModel<User>
<section class="events-list-area section-gap event-page-lists" style="padding: 60px 0;">
    <div class="container">
        <div class="row align-items-center">
    @if (Model.Collection.Count != 0)
    {
        @foreach(User user in Model.Collection)
        {
                    <div class="col-lg-6 pb-30">
                        <div class="single-carusel row align-items-center">
                            <div class="col-12 col-md-6 thumb">
                  <a asp-action="profile" asp-controller="home" asp-route-id="@user.Id">
                        <img class="custom-img-size clickable" src="~/@user.ImagePath" alt="Profile Img" />
                  </a>
                            </div>
                            <div class="detials col-12 col-md-6">
                                <h4>@user.UserName</h4>
                                <h4>@user.Specialization</h4>
                            </div>
                        </div>
                    </div>
        }
    }
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial");
    }
        </section>
<!--End Profile Card-->
<!-- End cta-two Area -->