@{
    ViewData[TitleKey] = "Services";
    ViewData[BannerNavTitleKey] = ViewData[TitleKey];
    ViewData[BannerNavActionKey] = "index";
    ViewData[BannerNavControllerKey] = "services";
    ViewData[BannerTitleKey] = ViewData[TitleKey];
    ViewData[PaginationCurrentPage] = Model.CurrentPage;
    ViewData[PaginationMaxPageCount] = Model.MaxPageCount;
    ViewData[PaginationDisplayCount] = Model.DisplayCount;
}
@model PaginationViewModel<Service>
<!-- Start events-list Area -->
<section class="events-list-area section-gap event-page-lists" style="padding: 60px 0;">
    <div class="container">
        <div class="row align-items-center">
    @if (Model.Collection.Count != 0)
    {
        @foreach (Service service in Model.Collection)
        {
                    <div class="col-lg-6 pb-30">
                        <div class="single-carusel row align-items-center">
                            <div class="col-12 col-md-6 thumb">
                                    <img class="img-fluid" src="~/@service.ServiceImage" alt="service img">
                            </div>
                            <div class="detials col-12 col-md-6">
                                <h4>@service.ServiceName</h4>
                                <p>@service.ServiceDescription</p>
                            </div>
                        </div>
                    </div>
        }
    }
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial");
    }
</section>
<!-- End events-list Area -->
